:root {
  --darkest: #3e171c;
  --lighter: #f9ddde;
  --base: #c9506c;
  --secondary: #bb2649;
  --text: #8a2a41;
  --accent: #dc143c
}

html {
  margin-top: 4%
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0 5% 0 5%;
  color: var(--darkest)
}

@media (min-width:768px) and (max-width:1024px) {
  .container {
    margin: 0 3% 0 3%
  }
}

@media (max-width:767px) {
  .container {
    margin: 0 1% 0 1%
  }
}

p {
  font-size: 1rem;
  color: var(--text);
  margin-top: 20px
}

.show-menu {
  cursor: pointer
}

.nav-icon {
  vertical-align: middle
}

.menu-block {
  opacity: 1;
  vertical-align: middle;
  visibility: visible
}

ul.navUL {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0
}

ul.navUL li {
  padding: 0 3px;
  list-style: none
}

ul li a {
  color: var(--darkest);
  padding: 3px;
  text-decoration: none
}

li {
  margin: 2rem;
  list-style: none;
  border-bottom: #3e171c 2px solid;
  border-left: #26bb98 2px solid
}

a {
  color: var(--darkest);
  text-decoration: none
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    visibility: visible
  }

  100% {
    opacity: 0;
    display: none;
    visibility: hidden
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
    visibility: hidden
  }

  100% {
    opacity: 1;
    display: block;
    visibility: visible
  }
}

#show-menu {
  color: var(--secondary);
  background-color: var(--lighter);
  border: none;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  margin: 5px;
  cursor: pointer
}

.navUL {
  color: var(--darkest)
}

#nav-menu {
  transition: all 0.5s ease
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000
}

#spinner {
  border: 16px solid #bb2649;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  animation: spin 1.5s linear infinite;
  text-align: center;
  -webkit-animation: spin 1.5s linear infinite
}

@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    border: 16px solid #bb2649;
    animation: fadeIn 0.4s transform 0.4s cubic-bezier(.7, 0, .84, 0)
  }

  5% {
    transform: translate3d(-50%, -50%, 0) rotate(18deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98
  }

  10% {
    transform: translate3d(-50%, -50%, 0) rotate(36deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98
  }

  15% {
    transform: translate3d(-50%, -50%, 0) rotate(54deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98
  }

  20% {
    transform: translate3d(-50%, -50%, 0) rotate(72deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98
  }

  25% {
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98
  }

  30% {
    transform: translate3d(-50%, -50%, 0) rotate(108deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98
  }

  35% {
    transform: translate3d(-50%, -50%, 0) rotate(126deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98
  }

  40% {
    transform: translate3d(-50%, -50%, 0) rotate(144deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98
  }

  45% {
    transform: translate3d(-50%, -50%, 0) rotate(162deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98
  }

  50% {
    transform: translate3d(-50%, -50%, 0) rotate(180deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98
  }

  55% {
    transform: translate3d(-50%, -50%, 0) rotate(198deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98
  }

  60% {
    transform: translate3d(-50%, -50%, 0) rotate(216deg);
    border: 16px solid #26bb98
  }

  65% {
    transform: translate3d(-50%, -50%, 0) rotate(234deg);
    border: 16px solid #26bb98;
    animation: zoomOut 0.4s ease-out;
    -webkit-animation: zoomIn 0.4s ease-out
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
    border: 16px solid #26bb98
  }
}

.fadeIn {
  animation: fadeIn 0.4s transform 0.4s cubic-bezier(.7, 0, .84, 0)
}

.menu {
  width: 36px
}

.close {
  font-size: 45px;
  font-weight: 600;
  display: inline-block;
  transform: rotate(45deg);
  border: none;
  color: var(--darkest);
  background: none
}

@keyframes fade {
  0% {
    opacity: .5
  }

  100% {
    opacity: 1
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1)
  }

  66% {
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6)
  }

  95% {
    transform: scale(.1);
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -ms-transform: scale(.1);
    -o-transform: scale(.1);
    background: none
  }

  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0)
  }
}

.close:hover,
.close:focus,
.close:active {
  color: var(--base);
  transition: fade 0.4s;
  animation: fade 0.2s;
  -webkit-animation: fade 0.2s;
  -webkit-transition: fade 0.4s;
  -moz-transition: fade 0.4s;
  -ms-transition: fade 0.4s;
  -o-transition: fade 0.4s
}

.zoomOut {
  animation: zoomOut 1.45s;
  -webkit-animation: zoomOut 1.45s
}

.show-menu-hidden {
  display: none
}

.navUL-modified {
  display: block;
  margin: 0 auto;
  background: #fff;
  width: 100%;
  box-sizing: border-box
}

.close-button-modified {
  position: absolute;
  top: 10px;
  right: 10px
}

@media (min-width:768px) {
  .navUL-modified {
    padding: 0% auto
  }

  li {
    margin: 3.5rem;
    list-style: none
  }
}

.li-container::before {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%
}

.li-container:hover,
.li-container:focus .li-container:active .li-container:visited {
  li {
    background-color: var(--lighter);
    color: var(--darkest);
    animation: fadeIn 0.5s ease-in-out;
    -webkit-animation: fadeIn 0.5s ease-in-out;
    text-decoration: none;
    border-bottom: var(--secondary) solid 1px;
    border-left: var(--accent) solid 1px;

    a {
      color: var(--lighter)
    }
  }
}
#dltMsg{
  border:none;
  background: none;
  margin-left:7%;
}