:root {
  --darkest: #3e171c;
  --lighter: #f9ddde;
  --base: #c9506c;
  --secondary: #bb2649;
  --text: #8a2a41;
  --accent: #dc143c
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin-top: 4%
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0 5% 0 5%;
  color: var(--darkest)
}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0 5% 0 5%
}

.bg {
  background-color: var(--lighter)
}

@media (min-width:768px) and (max-width:1024px) {
  .container {
    margin: 0 3% 0 3%
  }
}

@media (max-width:767px) {
  .container {
    margin: 0 1% 0 1%
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  color: #26bb98
}

p {
  font-size: 1rem;
  color: var(--text);
  margin-top: 20px
}

.show-menu {
  cursor: pointer
}

.nav-icon {
  display: inline-flex;
  vertical-align: middle
}

.menu-block {
  display: inline-flex;
  opacity: 1;
  vertical-align: middle;
  visibility: visible
}

#menu-block {
  display: inline-flex;
  opacity: 1;
  vertical-align: middle;
  visibility: visible
}

ul.navUL {
  list-style: none;
  margin: 0;
  padding: 0
}

ul.navUL li {
  padding: 0 3px
}

ul.navUL li a {
  color: var(--darkest);
  padding: 3px;
  text-decoration: none
}

ul.navUL li a:hover {
  color: #000;
  text-decoration: none
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    visibility: visible
  }

  100% {
    opacity: 0;
    display: none;
    visibility: hidden
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
    visibility: hidden
  }

  100% {
    opacity: 1;
    display: block;
    visibility: visible
  }
}

#show-menu {
  color: var(--secondary);
  background-color: var(--lighter);
  border: none;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  margin: 5px;
  cursor: pointer
}

#menu-block {
  display: none
}

.navUL {
  color: var(--darkest);
  display: inline-flex
}

#nav-menu {
  transition: all 0.5s ease
}

#nav-menu.hide {
  transform: translateX(-100%)
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000
}

@media screen and (min-width:768px) {
  #menu-block {
    display: inline-flex
  }

  #show-menu {
    display: none
  }
}

button.card {
  padding: 10px;
  display: inline-flex;
  margin: 10px auto;
  text-decoration: none;
  border-radius: 15px;
  background-color: var(--lighter);
  color: var(--darkest);
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  text-align: center
}

.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: pageLoadingAnimation 3s ease-in-out
}

@keyframes pageLoadingAnimation {
  0% {
    opacity: 1
  }

  50% {
    opacity: .5
  }

  100% {
    opacity: 1
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1)
  }

  90% {
    transform: scale(1.5)
  }

  100% {
    transform: scale(1.6);
    opacity: 0
  }
}

.zoomOut {
  animation: zoomOut 0.8s ease-out
}

#spinner {
  border: 16px solid #bb2649;
  border-top: 16px solid #26bb98;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.fadeout {
  animation: fadeOut 0.4s ease-out
}

.fadein {
  animation: fadeIn 0.4s ease-in
}
.menu{
  width: 36px;
}
.introduction{
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
  }