:root {
  --darkest: #3e171c;
  --lighter: #f9ddde;
  --base: #c9506c;
  --secondary: #bb2649;
  --text: #8a2a41;
  --accent: #dc143c
}


html {
  margin-top: 4%
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0 5% 0 5%;
  color: var(--darkest)
}

@media (min-width:768px) and (max-width:1024px) {
  .container {
    margin: 0 3% 0 3%
  }
}

@media (max-width:767px) {
  .container {
    margin: 0 1% 0 1%
  }
}

p {
  font-size: 1rem;
  color: var(--text);
  margin-top: 20px
}

.show-menu {
  cursor: pointer
}

.nav-icon {
  vertical-align: middle
}

.menu-block {
  opacity: 1;
  vertical-align: middle;
  visibility: visible
}

ul.navUL {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0
}

ul.navUL li {
  padding: 0 3px
}

ul.navUL li a {
  color: var(--darkest);
  padding: 3px;
  text-decoration: none
}

ul.navUL li a:hover {
  color: #000;
  text-decoration: none
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    visibility: visible
  }

  100% {
    opacity: 0;
    display: none;
    visibility: hidden
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
    visibility: hidden
  }

  100% {
    opacity: 1;
    display: block;
    visibility: visible
  }
}

#show-menu {
  color: var(--secondary);
  background-color: var(--lighter);
  border: none;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  margin: 5px;
  cursor: pointer
}

.navUL {
  color: var(--darkest);
}

#nav-menu {
  transition: all 0.5s ease
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000
}

@media screen and (min-width:768px) {

  #show-menu {
    display: none
  }
}

#spinner {
  border: 16px solid #bb2649;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  animation: spin 1.4s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    border: 16px solid #bb2649;
    animation: fadeIn 0.4s transform 0.4s cubic-bezier(0.7, 0, 0.84, 0);
  }

  5% {
    transform: translate3d(-50%, -50%, 0) rotate(18deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
  }

  10% {
    transform: translate3d(-50%, -50%, 0) rotate(36deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
  }

  15% {
    transform: translate3d(-50%, -50%, 0) rotate(54deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
  }

  20% {
    transform: translate3d(-50%, -50%, 0) rotate(72deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
  }

  25% {
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
  }

  30% {
    transform: translate3d(-50%, -50%, 0) rotate(108deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98;
  }

  35% {
    transform: translate3d(-50%, -50%, 0) rotate(126deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98;
  }

  40% {
    transform: translate3d(-50%, -50%, 0) rotate(144deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98;
  }

  45% {
    transform: translate3d(-50%, -50%, 0) rotate(162deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98;
  }

  50% {
    transform: translate3d(-50%, -50%, 0) rotate(180deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98;
  }

  55% {
    transform: translate3d(-50%, -50%, 0) rotate(198deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98;
  }

  60% {
    transform: translate3d(-50%, -50%, 0) rotate(216deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98;
  }

  65% {
    transform: translate3d(-50%, -50%, 0) rotate(234deg);
    border: 16px solid #bb2649;
    border-top: 16px solid #26bb98;
    border-bottom: 16px solid #26bb98;

  }

  70% {
    transform: translate3d(-50%, -50%, 0) rotate(252deg);
    border: 16px solid #26bb98;

  }

  75% {
    transform: translate3d(-50%, -50%, 0) rotate(270deg);
    border: 16px solid #26bb98;
  }

  80% {
    transform: translate3d(-50%, -50%, 0) rotate(288deg);

  }

  85% {
    transform: translate3d(-50%, -50%, 0) rotate(306deg);
  }

  90% {
    transform: translate3d(-50%, -50%, 0) rotate(324deg);

  }

  95% {
    transform: translate3d(-50%, -50%, 0) rotate(342deg);

  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
    border: 16px solid #26bb98;
    animation: fadeOut 0.4s ease-out;
  }
}

.fadein {
  animation: fadeIn 0.4s transform 0.4s cubic-bezier(0.7, 0, 0.84, 0)
}

.menu {
  width: 36px;
}


.close {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  left: 50%;
  letter-spacing: 1.5px;
  line-height: 90px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 100px;
}

.close::before,
.close::after {
  background-color: white;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.close::before {
  top: 0;
  transform: rotate(45deg);
}

.close::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.close:hover {
  color: #8A2387;
}

.close:hover::before,
.close:hover::after {
  height: 50px;
  transform: rotate(0deg);
}